h1, h2, h3, h4, h5, h6 {
	color: $base-coal;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-size: 36px;
	padding-bottom: 42px;
	padding-top: 0px;
	margin: 0px;
}

h4 {
    font-size: 24px;
}

p {
	padding: 0px;
	margin: 0px 0px 15px 0px;
	line-height: 20px;
}

a {
	color: $base-red;
	text-decoration: none;
	font-weight: 600;
}

.trgh {
	pointer-events: none;
}