// COLORS
$base-white: #fff;
$base-grey: #efefef;
$base-red: #cc0000;
$base-coal: #2d2d2d;



//WIDTHS
$container-sm: 540px;
$container-md: 620px;
$container-lrg: 960px;


//FONTS
$base-font: 'Nunito', sans-serif;
$loc: 'Leckerli One', cursive;